body {
    background-image: url(../Images/colorful_dots_on_black.jpg); 
    margin: 0;
    width: 1582px;
    height: 2536px;
}
body>header {
    color: yellow;
    font-family: sans-serif;
    font-size: 72px;
    text-align: center;
    background: linear-gradient(to right, red 33.3%, green 33.3%, green 66.7%, blue 66.7%);
    padding-bottom: 5px;
    font-weight: bold;
}
aside {
    background-color: rgba(255, 255, 255, 0.9);
    width: 20%;
    border-radius: 18px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
    padding-top: 15px;
}
nav>header {
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 38px;
    padding-left: 30px;
}
ul {
    color: black;
    list-style-type: none;
    font-size: 24px;
}
li:before{
    content: url(../Images/checkSymbol.png);
    padding-right: 10px;
    padding-left: 10px;
}
li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px 8px 8px 8px;
    border-right-width: 15px;
    margin-right: 40px;
}
section { 
    margin: 30px 25px 30px 350px;
    font-size: 28px;
}
article{
     background-color:rgba(255,255,255, 0.9);
     border-radius: 18px 18px 18px 18px;
     padding: 15px 15px;
     margin-bottom: 20px; 
}
div {
    font-size: 28px;
}
div::first-letter {
    font-size: 62px;
    font-style: italic;
    
}
div::first-line {
     font-style: italic;
     margin-bottom: 100px;
}
article a {
    color: gray;
    font-style: italic;
    margin-top: 10px;
}
#webColors {
    background-color: red;
    color: white;
    border-radius: 9px 9px 9px 9px;
    padding: 5px 5px 5px 5px;
    font-size: 36px;
    font-family: sans-serif;

}
#webSafeColors {
    background-color: orange;
    color: black;
    border-radius: 9px 9px 9px 9px;
    padding: 5px 5px 5px 5px;
    font-size: 36px;
    font-family: sans-serif;
}
#RGB {
    background-color: yellow;
    color: black;
    border-radius: 9px 9px 9px 9px;
    padding: 5px 5px 5px 5px;
    font-size: 36px;
    font-family: sans-serif;
}
#RGBA {
    background-color: green;
    color: white;
    border-radius: 9px 9px 9px 9px;
    padding: 5px 5px 5px 5px;
    font-size: 36px;
    font-family: sans-serif;
}
#HSLHSV {
    background-color: blue;
    color: white;
    border-radius: 9px 9px 9px 9px;
    padding: 5px 5px 5px 5px;
    font-size: 36px;
    font-family: sans-serif;
}
#lorem {
    background-color: purple;
    color: white;
    border-radius: 9px 9px 9px 9px;
    padding: 5px 5px 5px 5px;
    font-size: 36px;
    font-family: sans-serif;
}
span:lang(la) {
    color: blue;
    font-style: italic;
}

span:lang(la):before,  span:lang(la):after {
    content: "\"";
}

li:nth-child(1):hover {
    background-color: red;
}

li:nth-child(2):hover {
    background-color: orange;
}

li:nth-child(3):hover {
    background-color: yellow;
}

li:nth-child(4):hover {
    background-color: green;
}

li:nth-child(5):hover {
    background-color: blue;
}

li:nth-child(6):hover {
    background-color: purple;
}

li a, li:hover a {
    color: black;
    cursor: default;
    text-decoration: none;
}

a:visited {
    color: gray;
}