#container {
    width: 600px;
    height: 350px;
    background-color: pink;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#from {
    margin-top: -2rem;
    float: left;
    display: block;
}


#first {
    margin-top: 1.5rem;
    margin-left: -2.2rem;
    width: 15rem;

}

#firstLabel {
   float: left;
   margin-left: 1rem;
}

#to {

    margin-top: -2.5rem;
    float: right;
    display: block;
}

#second {
    position: absolute;
    margin-top: 2rem;
    margin-right: -15rem;
    width: 17rem;
}

#secondLabel {

    float: right;
    margin-right: 18rem;
    margin-top: 0.5rem;
}

#directs {
    float: right;
    clear: both;
    margin-right: 12.5rem;
    padding-top: 5px;

}

#from select {
    font-weight: bold;
}

#to select {
    font-weight: bold;
}

#departureDate{
    float: left;
    clear: both;
    margin-left: 1rem;
    padding-top: 1.5rem;


}

#departureDate label {
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 0rem;
    float: left;

}

#dep {
    width: 15rem;
}

#returnDate {
    float: left;
    clear: both;
    margin-left: 1rem;
    padding-top: 2rem;
}

#returnDate label {

    position: absolute;
    margin-top: -1.5rem;
    margin-left: 0rem;
    float: left;

}

#ret {
    width: 15rem;
}

#timeFirst {
    float: right;
    clear: both;
    margin-top: -4.5rem;
}

#timeFirst label {
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 0rem;
    float: left;
}

.left {
    width: 45%;
}

.right {
    width: 45%;
}

#timeSecond {
    float: right;
    clear: both;
    margin-top: -1.2rem;
}

#timeSecond label {
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 0rem;
    float: right;
}

#ChooseClass {
    float: right;
    clear: both;
    margin-top: 0.5rem;
    margin-right: 9rem;
    display: block;
}

#chooseLabel {
    display: block;
    margin-right: 5rem;

}

#choice {
    width: 177%;
    font-weight: bold;
    font-size: 15px;
}

#search {
    float: right;
    clear: both;
    border: 1px solid black;
    background-color: lightgray;
    width: 48%;
    height: 10%;
    margin-right: 1.2rem;
    margin-top: 1rem;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

#choiceOne {
    float: left;
    margin-left: 1rem;
    margin-top: -1.2rem;
}

#choiceOne label {
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 0rem;
    float: right;
    padding-top: 5px;

}

.size {
    width: 45%;
}

#choiceTwo {
    float: left;
    margin-top: -1.2rem;
    margin-left: 6rem;

}

#choiceTwo label {
    position: absolute;
    float: right;
    margin-top: -1.5rem;
    padding-top: 5px;
}

#choiceThree {
    float: left;
    margin-top: -4.3rem;
    margin-left: 11rem;
}

#choiceThree label {
    position: absolute;
    float: right;
    margin-top: -1.5rem;
    padding-top: 5px;

}

