#container {
    background-color: #3B5997;
    width: 850px;
    height: 650px;
}

#first {
    float: left;
    width: 370px;
    margin-right: 20px;
    margin-left: 10px;
}

#second {
    float: left;
    width: 440px;
}

fieldset {
    border-radius: 10px;
    color: white
}

input {
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#nr {
    width: 50px;
}

#floor {
    width: 50px;
}

#ap {
    width: 50px;
}

select {
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#one {
    height: 276px;
}

input[type=reset] {
    margin-top: 25px;
    height: 60px;
    width: 370px;
    color: #3B5997;
    font-size: 18px;

}

input[type=submit] {
    margin-top: 25px;
    height: 60px;
    width: 440px;
    color: #3B5997;
    font-size: 26px;
}