* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: Helvetica, Tahoma, sans-serif;
}

table td {
    vertical-align: top;
}

figure div {
    padding: 0 15px;
    border: 1px solid black;
    height: 224px;
}

figcaption {
    margin-top: 5px;
}

figure {
    margin: 0 5px;
}

figcaption a:hover {
    color: red;
}

tbody tr:last-child td {
    padding-top: 10px;
}

.more-info {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/MoreInfo.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
    border: 1px solid black;
    vertical-align: top;
	margin-left: 5px;
}

.more-info:hover {
    background-color: red;
}

.genre {
    font-size: 12px;
    vertical-align: middle;
    color: #828282;
}