body {
	margin: 0;
    padding: 0;
}

section {
	background-color: #FFFFFF;
	position: relative;
    width: 745px;
    height: 290px;
    margin: 5% auto;
    border-top: 9px dotted #FFFF00;
    border-right: 17px solid #008000;
    border-bottom: 12px double #0000FF;
    border-left: 9px dashed #FF0000;
    box-shadow: 25px 20px 10px #393939;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

section h1 {
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
    text-shadow: 10px 10px 10px #DDDDDD;
}

.frame-box {
	width: 670px;
	height: 130px;
	margin: -20px auto;
}

.box {
    border-radius: 60px;
    text-align: center;
}

.blue {
    border: 3px solid #0000FF;
}

.green {
    border: 3px solid #008000;
}

.yellow {
    border: 3px solid #FFFF00;
}

.red {
    border: 3px solid #FF0000;
}

.frame-text {
	margin-top: 20px;
	margin-bottom: 15px;
    font-size: 14pt;
    text-shadow: 10px 10px 10px #DDDDDD;
}

section div input {
    background-color: #CC9933;
    border: 2px outset #FF9900;
    outline: none;
    text-align: center;
    margin-bottom: 18px;
}

.bubble {
	background-color: rgba(178, 178, 178, 0.8);
	position: absolute;
	border-radius: 50%;
	text-align: center;
	font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;	
}

.bubble:before {
	position: absolute;
	border-radius: 50%;
    content: '';
}

.small {
 	width: 36px;
    height: 36px;
    top: 50%;
    right: 20%;
}

.small:before {
	width: 22px;
    height: 22px;
    border: 3px dashed #FFFFFF;
    left: 4px;
    top: 4px;
}

.middle {
 	width: 50px;
    height: 50px;
    top: 40%;
    right: 8%;
}

.middle:before {
	width: 34px;
    height: 34px;
    border: 3.5px dashed #FFFFFF;
    left: 5px;
    top: 5px;
}

.big {
	width: 160px;
    height: 95px;
    top: 20%;
    right: -15%;
    border-radius: 60px;
}

.bubble-text {
	  margin: 10px auto;
}

.big:before {
	border: 4px dashed #FFFFFF;
	border-radius: 60px;
	width: 140px;
    height: 75px;
    left: 6px;
    top: 6px;
}

