body {
	font-family: 'Tahoma';
	font-size: 18px;
}

td, th {
	width: 100px;
	height: 100px;
	padding: 5px;
}

th {
	font-size: 3em;
}

table table {
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
}

.beer {
	font-size: 1.5em;
	font-weight: bold;
}

.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}